---
layout: default
---

<div class="home">
  <div class="about-me">
    <div class="image-container">
      <img style="width: 70%; display: block; margin: 0 auto;" src="images/headshot.jpg" alt="Headshot of Daniel Danilyuk">
    </div>

    <h2>About Me</h2>
    <p>I am a software engineer with a passion for creating innovative and efficient solutions. With a strong background in programming and problem-solving, I enjoy tackling complex challenges and turning them into successful projects.</p>
  </div>
</div>
